<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/auth.css}">
</head>
<body>

<div class="container">
    <div class="auth-img">
    </div>
    <div class="auth-form">
        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">Registration</h3>
                <div class="button">
                    <a th:href="@{/login}">Sign in</a>
                </div>
            </div>
            <div class="clear"></div>
            <form th:action="@{/registration}" method="post">
                <div class="first-last-name">
                    <label class="user">
                        <input class="user-input" type="text" name="firstName" placeholder="First name?"  required/>
                    </label>
                    <label class="user">
                        <input class="user-input" type="text" name="lastName" placeholder="Last name?"  required/>
                    </label>
                </div>
                <div>
                    <label class="user">
                        <input class="user-input" type="text" name="username" placeholder="Username?"  required/>
                    </label>
                </div>
                <div>
                    <label class="email">
                        <input class="user-input" type="email" name="email" placeholder="Email?"  required/>
                    </label>
                </div>
                <div>
                    <label class="lock">
                        <input type="password" name="password" placeholder="Password?" required />
                    </label>
                    <label class="lock">
                        <input type="password" name="confirmPassword" placeholder="Confirm Password" required />
                    </label>
                </div>
                <div>
                    <input type="submit" value="Registration" />
                </div>
                <div class="forgot-label">Lost your password?</div>

                <div class="auth-message-error bad" th:if="${message}">
                    Пользователь с таким именем/почтой существует.
                </div>

                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>


</body>
</html>